{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "vitest"],
  "root": true,
  "rules": {
    "no-fallthrough": "off",
    "vitest/no-focused-tests": "warn",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "ignoreRestSiblings": true, "argsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
